@model ItemsMultipleModel

@{
    ViewData["Title"] = "Items Inventory";

    var supplier = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "EVO", Value = "EVO" },
        new SelectListItem() { Text = "KYT", Value = "KYT" },
        new SelectListItem() { Text = "RCB", Value = "RCB" },
        new SelectListItem() { Text = "BENDIX", Value = "BENDIX" },
        new SelectListItem() { Text = "BREMBO", Value = "BREMBO" },
        new SelectListItem() { Text = "CNC", Value = "CNC" },
        new SelectListItem() { Text = "DOMINO", Value = "DOMINO" },
        new SelectListItem() { Text = "GENERIC", Value = "GENERIC" },
        new SelectListItem() { Text = "GPR", Value = "GPR" },
        new SelectListItem() { Text = "GRS", Value = "GRS" },
        new SelectListItem() { Text = "HENG", Value = "HENG" },
        new SelectListItem() { Text = "JQB", Value = "JQB" },
        new SelectListItem() { Text = "JVT", Value = "JVT" },
        new SelectListItem() { Text = "KIXX", Value = "KIXX" },
        new SelectListItem() { Text = "KLEEN", Value = "KLEEN" },
        new SelectListItem() { Text = "LAMBORG9", Value = "LAMBORG9" },
        new SelectListItem() { Text = "MOTOWOLF", Value = "MOTOWOLF" },
        new SelectListItem() { Text = "MOTUL", Value = "MOTUL" },
        new SelectListItem() { Text = "MUTARRU", Value = "MUTARRU" },
        new SelectListItem() { Text = "NATHONG", Value = "NATHONG" },
        new SelectListItem() { Text = "PIAA", Value = "PIAA" },
        new SelectListItem() { Text = "PLAYLITE", Value = "PLAYLITE" },
        new SelectListItem() { Text = "R. MONKEY", Value = "R. MONKEY" },
        new SelectListItem() { Text = "SEALTITE", Value = "SEALTITE" },
        new SelectListItem() { Text = "SHAD", Value = "SHAD" },
        new SelectListItem() { Text = "SOMJIN", Value = "SOMJIN" },
        new SelectListItem() { Text = "SPECV", Value = "SPECV" },
        new SelectListItem() { Text = "SPYKER", Value = "SPYKER" },
        new SelectListItem() { Text = "TTGR", Value = "TTGR" },
        new SelectListItem() { Text = "UMA", Value = "UMA" },
        new SelectListItem() { Text = "VEE RUBBER", Value = "VEE RUBBER" },
        new SelectListItem() { Text = "YAMAHA", Value = "YAMAHA" },
        new SelectListItem() { Text = "YSS", Value = "YSS" }
    };

    var storeBranch = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "GEN. T VAL", Value = "GEN. T VAL" }
    };

    var stockType = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "RE-STOCK", Value = "REST" },
        new SelectListItem() { Text = "PULL OUT", Value = "PULL" },
        new SelectListItem() { Text = "DAMAGE", Value = "DAMG" }
    };
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <h4 class="card-title">Items Inventory</h4>
                        <button class="btn btn-success float-right" id="exportExcelLink">
                            <i class="material-icons">cloud_download</i> Download as Excel
                        </button>
                        <button class="btn btn-success float-right" onclick="window.alert('NOT YET AVAILABLE.')">
                            <i class="material-icons">playlist_add</i> Add Batch Items
                        </button>
                        <button class="btn btn-success float-right" onclick="window.location='@Url.Action("New", "Items")'">
                            <i class="material-icons">add</i> Add Item
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="listTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Item No.</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Group</th>
                                        <th hidden>Group Description</th>
                                        <th hidden>Specification</th>
                                        <th hidden>Vendor Code</th>
                                        <th>Vendor Name</th>
                                        <th>Stocks</th>
                                        <th class="text-right">S.R.P.</th>
                                        <th class="text-right">S.W.P.</th>
                                        <th hidden class="text-right">Unit Price</th>
                                        <th hidden class="text-right">Retail Price</th>
                                        <th hidden class="text-right">Wholesale Price</th>
                                        <th class="text-right">Ret. Disc.</th>
                                        <th class="text-right">Who. Disc.</th>
                                        <th hidden class="text-right">Wholesale Minimum Qty</th>
                                        <th class="disabled-sorting text-right not-export">Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Item No.</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Group</th>
                                        <th hidden>Group Description</th>
                                        <th hidden>Specification</th>
                                        <th hidden>Vendor Code</th>
                                        <th>Vendor Name</th>
                                        <th>Stocks</th>
                                        <th class="text-right">S.R.P.</th>
                                        <th class="text-right">S.W.P.</th>
                                        <th hidden class="text-right">Unit Price</th>
                                        <th hidden class="text-right">Retail Price</th>
                                        <th hidden class="text-right">Wholesale Price</th>
                                        <th class="text-right">R.Disc.</th>
                                        <th class="text-right">W.Disc.</th>
                                        <th hidden class="text-right">Wholesale Minimum Qty</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>


@*//############################  ADD STOCK MODAL DIAGLOG #######################################*@
<div class="modal fade" id="AddStocks" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form class="form" method="post" action="@Url.Action("Stocks", "Items", Model.InventoryDetails)">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.InventoryDetails.ItemNo, new { id = "addStocksItemNo" })
                <div class="modal-header">
                    <h3 class="modal-title" id="titleAddStocks"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Type</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.InventoryDetails.Type, stockType,
                                                            new { @class = "selectpicker", @data_style = "select-with-transition", @data_size = "7", title = "", tabindex = "-98", required = "true" })
                                    </div>
                                </div>
                                <label class="col-sm-2 col-form-label">Branch</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.InventoryDetails.BranchCode, storeBranch,
                                                            new { @class = "selectpicker", @data_style = "select-with-transition", @data_size = "7", title = "", tabindex = "-98", required = "true" })
                                    </div>
                                </div>
                                <label class="col-sm-2 col-form-label">Qty</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.InventoryDetails.Qty, new { @class = "form-control", @maxlength = "10", type = "number", number = "true", step = "0", required = "true", min = 1 })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="button" value="Save Stocks" class="btn btn-success float-right" />
                    <button type="button" class="btn btn-default float-right" style="margin-right:5px;" data-dismiss="modal" aria-hidden="true">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@*//############################  UPDATE MODAL DIAGLOG #######################################*@
<div class="modal fade" id="UpdateItem" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form class="form" method="post" action="@Url.Action("Update", "Items", Model.ItemDetails)">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ItemDetails.ItemNo, new { id = "updateItemNo" })
                <div class="modal-header">
                    <h3 class="modal-title" id="titleUpdate"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Name</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.ItemName, new { id = "updateItemName", @class = "form-control", required = "true", @maxlength = "32" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Description</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.ItemDesc, new { id = "updateDescription", @class = "form-control", @maxlength = "200" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Group</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.ItemGroup, new { id = "updateGroup", @class = "form-control", @maxlength = "50" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Group Description</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.ItemGroupDesc, new { id = "updateGroupDescription", @class = "form-control", @maxlength = "200" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Supplier</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.DropDownListFor(model => model.ItemDetails.VendorCode, supplier,
                                                                    new { id = "updateVendor", @class = "selectpicker", @data_style = "select-with-transition", @data_size = "7", title = "", tabindex = "-98", required = "true" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Specification</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.Specification, new { id = "updateSpecification", @class = "form-control", @maxlength = "1000" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Unit Price</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.UnitPrice, new { id = "updateUnitPrice", @class = "form-control", @maxlength = "10", type = "number", number = "true", step = ".01", required = "true", min = 0.01 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Retail Price</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.RetailPrice, new { id = "updateRetailPrice", @class = "form-control", @maxlength = "10", type = "number", number = "true", step = ".01", required = "true", min = 0.01 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Wholesale Price</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.WholesalePrice, new { id = "updateWholesalePrice", @class = "form-control", @maxlength = "10", type = "number", number = "true", step = ".01", required = "true", min = 0.01 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Wholesale Min. Qty</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.WholesaleMinQty, new { id = "updateWholesaleMinQty", @class = "form-control", @maxlength = "10", type = "number", number = "true", step = "0", required = "true", min = 0 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Retail Disc. (0.01 = 1%)</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.RetailDiscount, new { id = "updateRetailDisc", @class = "form-control", @maxlength = "10", type = "number", number = "true", step = ".0001", required = "true", min = 0, max = 1 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Wholesale Disc. (0.01 = 1%)</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ItemDetails.WholesaleDiscount, new { id = "updateWholesaleDisc", @class = "form-control", @maxlength = "10", type = "number", number = "true", step = ".0001", required = "true", min = 0, max = 1 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-2 col-form-label">Remarks</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ItemDetails.Remarks, new { id = "updateRemarks", @class = "form-control", @maxlength = "100", required = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="button" value="Save Item" class="btn btn-success float-right" />
                    <button type="button" class="btn btn-default float-right" style="margin-right:5px;" data-dismiss="modal" aria-hidden="true">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@*//############################  MORE INFO MODAL DIAGLOG #######################################*@
<div class="modal fade" id="MoreInfo" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="titleMoreInfo"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Item Name</label>
                            <input type="text" class="form-control" id="viewItemName" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Item Description</label>
                            <input type="text" class="form-control" id="viewDescription" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Item Group</label>
                            <input type="text" class="form-control" id="viewGroup" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Item Group Description</label>
                            <input type="text" class="form-control" id="viewGroupDescription" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Vendor</label>
                            <input type="text" class="form-control" id="viewVendor" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Specification</label>
                            <input type="text" class="form-control" id="viewSpecification" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Curr. Retail Price</label>
                            <input type="text" class="form-control" id="viewFinalRetailPrice" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Curr. Wholesale Price</label>
                            <input type="text" class="form-control" id="viewFinalWholesalePrice" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Unit Price</label>
                            <input type="text" class="form-control" id="viewUnitPrice" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Retail Price</label>
                            <input type="text" class="form-control" id="viewRetailPrice" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Wholesale Price</label>
                            <input type="text" class="form-control" id="viewWholesalePrice" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Wholesale Min. Qty</label>
                            <input type="text" class="form-control" id="viewWholesaleMinQty" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Retail Discount (0.01 = 1%)</label>
                            <input type="text" class="form-control" id="viewRetailDisc" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Wholesale Discount (0.01 = 1%)</label>
                            <input type="text" class="form-control" id="viewWholesaleDisc" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Created Date</label>
                            <input type="text" class="form-control" id="viewTranDate" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Created By</label>
                            <input type="text" class="form-control" id="viewCreatedBy" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Last Updated Date</label>
                            <input type="text" class="form-control" id="viewLastUpdatedDate" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Last Updated By</label>
                            <input type="text" class="form-control" id="viewLastUpdatedBy" readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Remarks</label>
                            <input type="text" class="form-control" id="viewRemarks" readonly />
                        </div>
                    </div>
                </div>
                <table id="moreInfoTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Inventory No.</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Branch Code</th>
                            <th>Created By</th>
                            <th>Collection Receipt</th>
                            <th>Remarks</th>
                            <th class="text-right">Qty</th>
                            <th class="text-right">Amount</th>
                            <th class="text-right">Total Amount</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Inventory No.</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Branch Code</th>
                            <th>Created By</th>
                            <th>Collection Receipt</th>
                            <th>Remarks</th>
                            <th class="text-right">Qty</th>
                            <th class="text-right">Amount</th>
                            <th class="text-right">Total Amount</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default float-right" style="margin-right:5px;" data-dismiss="modal" aria-hidden="true">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    if (ViewData["Message"].ToString() == "SUCCESS1")
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Good job!",
                    text: "Item details has been saved!",
                    type: "success",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success"
                });
            };
        </script>
    }
    else if (ViewData["Message"].ToString() == "SUCCESS2")
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Good job!",
                    text: "Item stocks has been saved!",
                    type: "success",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success"
                });
            };
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({ title: "Oh no!", text: "@ViewData["Message"]", type: "error", buttonsStyling: false, confirmButtonClass: "btn btn-info" });
            };
        </script>
    }
}

<script src="../js/core/jquery.min.js"></script>
<script src="../js/plugins/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        var listTable = $('#listTable').DataTable({
            ajax: {
                url: '../Items/GetAll',
                dataSrc: '',
                "error": function (xhr, error, thrown) {
                    if (xhr.status == 401) {
                        window.location = "@Url.Action("Index","Login")";
                    }
                    else {
                        window.alert = xhr.status + ' - ' + xhr.statusMessage;
                    }
                }
                @*"statusCode": {
                    401: function (xhr, error, thrown) {
                        console.log(error + ' T:' + thrown + ' xhr ' + xhr.status + ' ' + xhr.statusMessage);
                        window.location = "@Url.Action("Index","Login")";
                    }
                }*@
            },
            columns: [
                { data: "itemNo" },
                { data: "itemName" },
                { data: "itemDesc" },
                { data: "itemGroup" },
                { data: "itemGroupDesc" },
                { data: "specification" },
                { data: "vendorCode" },
                { data: "vendorName" },
                {
                    data: null, render: function (data, type, row) {
                        if (data.availableStocks != null && data.availableStocks > 0) {
                            return '<span class="badge badge-pill badge-success">' + data.availableStocks + '</span>';
                        }
                        else {
                            return '<span class="badge badge-pill badge-danger">' + data.availableStocks + '</span>';
                        }
                    }
                },
                {
                    data: "finalRetailPrice", render: $.fn.dataTable.render.number(',', '.', 2, "PHP ")
                },
                {
                    data: "finalWholesalePrice", render: $.fn.dataTable.render.number(',', '.', 2, "PHP ")
                },
                { data: "unitPrice", render: $.fn.dataTable.render.number(',', '.', 2, "PHP ") },
                { data: "retailPrice", render: $.fn.dataTable.render.number(',', '.', 2, "PHP ") },
                { data: "wholesalePrice", render: $.fn.dataTable.render.number(',', '.', 2, "PHP ") },
                { data: "retailDiscount", render: $.fn.dataTable.render.number('', '.', 4) },
                { data: "wholesaleDiscount", render: $.fn.dataTable.render.number('', '.', 4) },
                { data: "wholesaleMinQty" },
                {
                    data: null, render: function (data, type, row) {
                        var addButton = '<a href="#" class="btn btn-success btn-round btn-fab add" title="More Details"' +
                            ' data-id="' + data.itemNo + '" data-itemname="' + data.itemName + '"><i class="material-icons">add</i></a>';
                        var editButton = '<a href="#" class="btn btn-warning btn-round btn-fab update-item" title="Update Item"' +
                            ' data-id="' + data.itemNo + '" data-itemname="' + data.itemName + '" data-itemdesc="' + data.itemDesc + '" data-itemgroup="' + data.itemGroup +
                            '" data-itemgroupdesc="' + data.itemGroupDesc + '" data-specification="' + data.specification + '" data-vendorcode="' + data.vendorCode +
                            '" data-vendorname="' + data.vendorName + '" data-stocks="' + data.availableStocks + '" data-unitprice="' + data.unitPrice.toFixed(2) + '" data-retailprice="' + data.retailPrice.toFixed(2) + '" data-remarks="' + data.remarks +
                            '" data-wholesaleprice="' + data.wholesalePrice.toFixed(2) + '" data-retaildiscount="' + data.retailDiscount.toFixed(4) + '" data-wholesalediscount="' + data.wholesaleDiscount.toFixed(4) +
                            '" data-wholesaleminqty="' + data.wholesaleMinQty + '"><i class="material-icons">edit</i></a>';
                        var infoButton = '<a href="#" class="btn btn-info btn-round btn-fab view" title="More Details"' +
                            ' data-id="' + data.itemNo + '" data-itemname="' + data.itemName + '" data-itemdesc="' + data.itemDesc + '" data-itemgroup="' + data.itemGroup +
                            '" data-date="' + data.tranDate + '" data-time="' + data.tranTime + '" data-createdby="' + data.createdBy +
                            '" data-lastupdatedate="' + data.lastUpdatedDate + '" data-lastupdatetime="' + data.lastUpdatedTime + '" data-lastupdateby="' + data.lastUpdatedBy +
                            '" data-itemgroupdesc="' + data.itemGroupDesc + '" data-specification="' + data.specification + '" data-vendorcode="' + data.vendorCode +
                            '" data-vendorname="' + data.vendorName + '" data-stocks="' + data.availableStocks + '" data-finalretailprice="' + data.finalRetailPrice +
                            '" data-finalwholesaleprice="' + data.finalWholesalePrice.toFixed(2) + '" data-unitprice="' + data.unitPrice.toFixed(2) + '" data-retailprice="' + data.retailPrice.toFixed(2) + '" data-remarks="' + data.remarks +
                            '" data-wholesaleprice="' + data.wholesalePrice.toFixed(2) + '" data-retaildiscount="' + data.retailDiscount.toFixed(4) + '" data-wholesalediscount="' + data.wholesaleDiscount.toFixed(4) +
                            '" data-wholesaleminqty="' + data.wholesaleMinQty + '"><i class="material-icons">info</i></a>';
                     
                        return addButton + ' ' + editButton + ' ' + infoButton;
                    }
                }
            ],
            columnDefs: [
                {
                    targets: [9, 10, 11, 12, 13, 14, 15, 16],
                    className: 'text-right'
                },
                {
                    targets: -1,
                    className: 'td-action text-right'
                },
                {
                    targets: [4, 5, 6, 11, 12, 13, 16],
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('hidden', '');
                    }
                }
            ],
            "order": [[0, "desc"]],
            pagingType: "full_numbers",
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
            buttons: [
                {
                    extend: "excelHtml5",
                    text: "DOWNLOAD AS EXCEL",
                    className: 'd-none',
                    filename: 'Items - ' + '@DateTime.Now',
                    title: 'Items - ' + '@DateTime.Now',
                    exportOptions: {
                        columns: 'th:not(.not-export)',
                        modifier: {
                            page: 'all'
                        }
                    }
                }],
            dom: "B<'row'<'col-sm-5'l><'col-sm-7'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            initComplete: function () {
                var $buttons = $('.dt-buttons').hide();
                $('#exportExcelLink').on('click', function () {
                    var btnClass = '.buttons-excel'
                    if (btnClass) $buttons.find(btnClass).click();
                })
            }
        }).columns.adjust().responsive.recalc();

        var moreInfoTable = $('#moreInfoTable').DataTable({
            ajax: {
                url: "@Url.Action("Stocks", "Items")?itemNo=0",
                dataSrc: '',
                "error": function (xhr, error, thrown) {
                    if (xhr.status == 401) {
                        window.location = "@Url.Action("Index","Login")";
                    } else {
                        window.alert = xhr.status + ' - ' + xhr.statusMessage;
                    }
                }
            },
            columns: [
                { data: "inventoryNo" },
                {
                    data: null, render: function (data, type, row) {
                        if (data.type != null && (data.type == "RSAL" || data.type == "WSAL")) {
                            return '<span class="badge badge-pill badge-success">' + data.type + '</span>';
                        }
                        else if (data.type != null && data.type == "REST") {
                            return '<span class="badge badge-pill badge-info">' + data.type + '</span>';
                        }
                        else {
                            return '<span class="badge badge-pill badge-danger">' + data.type + '</span>';
                        }
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return data.tranDate + ' ' + data.tranTime
                    }
                },
                { data: "branchCode" },
                { data: "createdBy" },
                { data: "collectionReceiptNo" },
                {
                    data: null, render: function (data, type, row) {
                        if (data.active == 0) {
                            return data.remarks;
                        }
                        else {
                            return '<span class="badge badge-pill badge-danger align-middle">DELETED</span> ' + (data.remarks ?? ' ');
                        }
                    }
                },
                { data: "qty" },
                { data: "amountPerQty", render: $.fn.dataTable.render.number(',', '.', 2, "PHP ") },
                { data: "totalAmount", render: $.fn.dataTable.render.number(',', '.', 2, "PHP ") },
            ],
            columnDefs: [
                {
                    targets: [7, 8, 9],
                    className: 'text-right'
                }
            ],
            "order": [[0, "desc"]],
            "pagingType": "full_numbers",
            lengthChange: false,
            searching: false,
            responsive: true,
        }).columns.adjust().responsive.recalc();

        $('#listTable tbody').on('click', 'a.update-item', function () {
            document.getElementById('titleUpdate').innerHTML = "Update Item No.: " + $(this).data('id')

            $("#updateItemNo").val($(this).data('id') ?? ' ').trigger("change");
            $("#updateItemName").val($(this).data('itemname') ?? ' ').trigger("change");
            $("#updateDescription").val($(this).data('itemdesc') ?? ' ').trigger("change");
            $("#updateGroup").val($(this).data('itemgroup') ?? ' ').trigger("change");
            $("#updateGroupDescription").val($(this).data('itemgroupdesc') ?? ' ').trigger("change");
            $("#updateVendor").val($(this).data('vendorcode') ?? ' ').trigger("change");
            $("#updateSpecification").val($(this).data('specification') ?? ' ').trigger("change");
            $("#updateUnitPrice").val($(this).data('unitprice') ?? ' ').trigger("change");
            $("#updateRetailPrice").val($(this).data('retailprice') ?? ' ').trigger("change");
            $("#updateWholesalePrice").val($(this).data('wholesaleprice') ?? ' ').trigger("change");
            $("#updateWholesaleMinQty").val($(this).data('wholesaleminqty') ?? ' ').trigger("change");
            $("#updateRetailDisc").val($(this).data('retaildiscount') ?? ' ').trigger("change");
            $("#updateWholesaleDisc").val($(this).data('wholesalediscount') ?? ' ').trigger("change");
            $("#updateRemarks").val($(this).data('remarks') ?? ' ').trigger("change");

            $('#UpdateItem').modal('show');
        });

        $('#listTable tbody').on('click', 'a.add', function () {
            document.getElementById('titleAddStocks').innerHTML = "Add Stocks <br />Item No.: " + $(this).data('id') + "<br />Item Name: " + $(this).data('itemname')
            $("#addStocksItemNo").val($(this).data('id') ?? ' ').trigger("change");

            $('#AddStocks').modal('show');
        });

        $('#listTable tbody').on('click', 'a.view', function () {
            var availableStocks = '';
            var url = "@Url.Action("Stocks","Items")?itemNo=" + $(this).data('id');
            moreInfoTable.ajax.url(url).load();


            if ($(this).data('stocks') > 0 ) {
                availableStocks = '<a href="#" class="btn btn-success btn-round btn-fab  align-middle">' + $(this).data('stocks') + '</a>';
            } else {
                availableStocks = '<a href="#" class="btn btn-danger btn-round btn-fab align-middle">' + $(this).data('stocks') + '</a>';
            }

            document.getElementById('titleMoreInfo').innerHTML = "Item No.: " + $(this).data('id') + ' ' + availableStocks + ' stock(s)' ;

            var lastTranDate = $(this).data('lastupdatedate') ?? ' ';
            var lastTranTime = $(this).data('lastupdatetime') ?? ' ';

            $("#viewTranDate").val($(this).data('date') + ' ' + $(this).data('time')).trigger("change");
            $("#viewCreatedBy").val($(this).data('createdby') == "" ? ' ' : $(this).data('createdby') ?? ' ').trigger("change");
            $("#viewLastUpdatedDate").val(lastTranDate + ' ' + lastTranTime).trigger("change");
            $("#viewLastUpdatedBy").val($(this).data('lastupdateby') == "" ? ' ' : $(this).data('lastupdateby') ?? ' ').trigger("change");
            $("#viewRemarks").val($(this).data('remarks') == "" ? ' ' : $(this).data('remarks') ?? ' ').trigger("change");
            $("#viewItemName").val($(this).data('itemname') == "" ? ' ' : $(this).data('itemname') ?? ' ').trigger("change");
            $("#viewDescription").val($(this).data('itemdesc') == "" ? ' ' : $(this).data('itemdesc') ?? ' ').trigger("change");
            $("#viewGroup").val($(this).data('itemgroup') == "" ? ' ' : $(this).data('itemgroup') ?? ' ').trigger("change");
            $("#viewGroupDescription").val($(this).data('itemgroupdesc') == "" ? ' ' : $(this).data('itemgroupdesc') ?? ' ').trigger("change");
            $("#viewVendor").val($(this).data('vendorcode') == "" ? ' ' : $(this).data('vendorcode') ?? ' ').trigger("change");
            $("#viewSpecification").val($(this).data('specification') == "" ? ' ' : $(this).data('specification') ?? ' ').trigger("change");
            $("#viewFinalRetailPrice").val("PHP " + $(this).data('finalretailprice') ?? '0.00').trigger("change");
            $("#viewFinalWholesalePrice").val("PHP " + $(this).data('finalwholesaleprice') ?? '0.00').trigger("change");
            $("#viewUnitPrice").val("PHP " + $(this).data('unitprice') ?? '0.00').trigger("change");
            $("#viewRetailPrice").val("PHP " + $(this).data('retailprice') ?? '0.00').trigger("change");
            $("#viewWholesalePrice").val("PHP " + $(this).data('wholesaleprice') ?? '0.00').trigger("change");
            $("#viewWholesaleMinQty").val($(this).data('wholesaleminqty') ?? '0.00').trigger("change");
            $("#viewRetailDisc").val($(this).data('retaildiscount') ?? '0.00').trigger("change");
            $("#viewWholesaleDisc").val($(this).data('wholesalediscount') ?? '0.00').trigger("change");

            $('#MoreInfo').modal('show');
        });
    });
</script>